<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D tris</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <form action="/user/login" method="post">
        <h2>Login</h2>
        <label for="username"></label>
        <input name="username" type="text" pattern="^[\w\d_\-]{0,32}$" autocomplete="username">
        <label for="password"></label>
        <input name="password" type="password" autocomplete="current-password">
        <a href="/user/register">Don't have an account yet? Create one</a>
        <input type="submit">
    </form>
    <script>
        $('form').bind('submit', function () {
            $.post({
                url: '/user/login',
                type: 'POST',
                data: JSON.stringify({
                    username: $('input[name="username"]').val(),
                    password: $('input[name="password"]').val()
                }),
                contentType: 'application/json',
                success: response => {
                    if (response.success) {
                        localStorage.setItem('token', response.token);
                        window.location.href = '/';
                    } else
                        alert(response.message);
                },
                error: alert,
            });
            return false;
        });
    </script>
</body>

</html>